<div class="grid grid-catalog">
  <%= for album <- @albums do %>
  <a class="catalog-item" href="<%= Routes.album_path @conn, :show, album.hash, album.slug%>">
    <h2 class="catalog-item__album"><%= album.name%></h2>
    <div class="catalog-item__artist">by <%= album.artist%></div>
    <img class="catalog-item__visual" src=<%= album.cover %> alt="">
  </a>
  <% end %>
</div>
