<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <title>Now Playing ∴ Handpicked Albums by the Glitch Family</title>
    <link rel="stylesheet" href="<%= Routes.static_url(@conn, "/css/app.css") %>"/>
  </head>
  <body >
    <header class="header header--home">
      <div class="container">
        <div class="header__left">
          <a class="header__logo glitch--hover" data-text="Now Playing" href="" title="Homepage">Now Playing</a>
          <div class="header__tagline">Great music should be shared</div>
        </div>
        <nav class="navigation">
          <a class="navigation__item active" href="">Latest</a>
          <a class="navigation__item" href="">Random</a>
        </nav>
      </div>
    </header>

    <main role="main">
      <div class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="footer">
      <img class="footer__logo" src="/images/logo-glitch-family.svg" alt="by Glitch Family" title="by Glitch Family">
    </footer>
    <script type="text/javascript" src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
