<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Now Playing ∴ Handpicked Albums by the Glitch Family</title>
    <link rel="stylesheet" href="<%= Routes.static_url(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <% if @conn.private.phoenix_controller == NpWeb.PageController && @conn.private.phoenix_action == :index do %>
      <header class="header header--home">
    <% else %>
      <header class="header">
    <% end %>
    <header class="header header--home">
      <div class="container">
        <div class="header__left">
          <a class="header__logo glitch--hover" data-text="Now Playing" href="/" title="Homepage">Now Playing</a>
          <div class="header__tagline">Great music should be shared</div>
        </div>
        <nav class="navigation">
          <a class="navigation__item navigation__item--admin" href="<%= Routes.album_path(@conn, :new) %>">+ Add</a>
          <a class="navigation__item active hidden-xs" href="">Latest</a>
          <a class="navigation__item" href="">Random</a>
          <a class="navigation__item" href="">Logout</a>
        </nav>
      </div>
    </header>

    <main>
      <!-- <div class="container">
        <div class="notif notif--info" role="alert"><%= get_flash(@conn, :info) %></div>
        <div class="notif notif--error" role="alert"><%= get_flash(@conn, :error) %></div>
      </div> -->
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="footer">
      <img class="footer__logo" src="/images/logo-glitch-family.svg" alt="by Glitch Family" title="by Glitch Family">
    </footer>
    <script src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
