<div class="content">
  <div class="container container--small w100">
    <h1 class="content-title txtcenter">Edit Album</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.album_path(@conn, :update, @album.hash)) %>

    <div class="txtcenter mt2"><button class="btn--link" data-delete-link="/" data-delete-link-message="Are you sure you want to delete this album?">Delete album</button></div>
  </div>
</div>
