<div class="content">
  <div class="container container--small w100">
  <h1 class="content-title txtcenter">New Album</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.album_path(@conn, :create)) %>

  <div class="txtcenter mt2"><%= link "Back", to: Routes.album_path(@conn, :index) %></div>
</div>
</div>
