/* ----------------------------------------------------------- */
/* == footer */
/* ----------------------------------------------------------- */

.footer {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-top: 8rem;
  background: url("/images/triforce.svg") no-repeat;
  background-position: center top;
  text-align: center;
}
